<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    version="3.1" 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>BiblioTech</display-name>
    <description>Web application per la simulazione di una biblioteca</description>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>dbUtente</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/psm</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>org.psm.mp.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Profilo</url-pattern>
        <url-pattern>/Admin</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.psm.mp.listeners.BiblioTechListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>org.psm.mp.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>org.psm.mp.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>org.psm.mp.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>org.psm.mp.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigationController</servlet-name>
        <servlet-class>org.psm.mp.NavigationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>org.psm.mp.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrenotazioneController</servlet-name>
        <servlet-class>org.psm.mp.PrenotazioneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfiloController</servlet-name>
        <servlet-class>org.psm.mp.ProfiloController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavigationController</servlet-name>
        <url-pattern>/Catalogo</url-pattern>
        <url-pattern>/Classifiche</url-pattern>
        <url-pattern>/Registrazione</url-pattern>
        <url-pattern>/Libro</url-pattern>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Cerca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrenotazioneController</servlet-name>
        <url-pattern>/Prenotazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfiloController</servlet-name>
        <url-pattern>/Profilo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/not_found.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/jsp/unauthorized.jsp</location>
    </error-page>
</web-app>
